<div class="jumbotron">
    <h1>SISTEMA WEB - EL COMERCIO</h1>
    <p class="lead">Sistema creado con WEB API y su consumo con ASP.NET MVC, utilizando el lenguaje C# y .NET Framework 4.5</p>
    <p><a href="http://localhost:53660/Help" class="btn btn-primary btn-lg">APIs generados &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>A continuación algunos puntos importantes</h3>
        <ul>
            <li>En la parte superior puedes encontrar todas las opciones a las que tienes acceso.</li>
            <li>Si no utilizas el Sistema por 5 minutos, se cerrará automaticamente.</li>
            <li>Antes de procesar cualquier transaccion, revisa que los datos ingresados sean correctos.</li>
        </ul>
    </div>
    
</div>
